<ng-container *ngIf="clients$ | async as clients" class="clients-table__wrapper">
    <table-container
            [isMultipleSelect]="true"
            [hasAddBtn]="true"
            [hasDeleteBtn]="true"
            [rows]="clients"
            [columns]="clients[0] | objectKeys"
            (deleteRowButtonClick)="deleteClients($event)"
            (rowClick)="openClient($event)"
            (addNewRowButtonClick)="openClient()">

        <ng-template #headerCell let-headerCell let-index="index">
            <div class="clients-table__table-header cell" [class.cell_align-end]="index > 2">
                {{ "clients." + headerCell | translate }}
            </div>
        </ng-template>

        <ng-template #rowCell let-cell let-index="index">
            <div class="clients-table__table-cell cell" [class.cell_align-end]="index > 2">
                {{ cell }}
            </div>
        </ng-template>

    </table-container>
</ng-container>
