<mat-form-field class="text-input ng-invalid"
                appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
            type="text"
            #textInput
            matInput
            [required]="control?.hasValidator(validators.required) ?? false"
            [pattern]="control?.errors?.[errorKeys.PATTERN]?.requiredPattern"
            [minlength]="control?.errors?.[errorKeys.MIN_LENGTH]?.requiredLength"
            [email]="control?.errors?.[errorKeys.EMAIL]"
            [disabled]="isDisabled"
            [placeholder]="placeholder"
            [(ngModel)]="value"
            (blur)="onTouched?.()"
            (focus)="onFocus()"
            [imask]="mask"
    />
    <clear-btn *ngIf="textInput.value" matSuffix (iconClicked)="value = ''"/>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-error>
        <ng-container [ngTemplateOutlet]="errors"/>
    </mat-error>
</mat-form-field>

<ng-template #errors>
    <ng-container *ngIf="control?.errors as errors">
        <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="control?.hasError(errorKeys.REQUIRED)">
                <span>{{ 'text_input.error.required' | translate }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="control?.hasError(errorKeys.MIN_LENGTH)">
                <span>
                    {{ 'text_input.error.min_length.acceptable_no_less' | translate }}
                    {{ errors[errorKeys.MIN_LENGTH].requiredLength }}
                    {{ 'text_input.error.min_length.symbols' | translate }}
                </span>
            </ng-container>
            <ng-container *ngSwitchCase="control?.hasError(errorKeys.MAX_LENGTH)">
                <span>
                    {{ 'text_input.error.max_length.acceptable_no_more' | translate }}
                    {{ errors[errorKeys.MAX_LENGTH].requiredLength }}
                    {{ 'text_input.error.max_length.symbols' | translate }}
                </span>
            </ng-container>
            <ng-container *ngSwitchCase="control?.hasError(errorKeys.PATTERN)">
                <span>
                    {{ 'text_input.error.pattern' | translate }}
                </span>
            </ng-container>
            <ng-container *ngSwitchCase="control?.hasError(errorKeys.EMAIL)">
                <span>
                    {{ 'text_input.error.email' | translate }}
                </span>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>
