<div class="client-dialog">
    <div class="client-dialog__container">
        <h2 mat-dialog-title class="client-dialog__title">
            {{ data.title }}
        </h2>
        <mat-dialog-content class="client-dialog__content">
            <form [formGroup]="clientFormGroup" class="client-dialog__form">
                <text-input
                        class="client-dialog__input"
                        formControlName="name"
                        [label]="'clients.name' | translate"/>
                <text-input
                        class="client-dialog__input"
                        formControlName="surname"
                        [label]="'clients.surname' | translate"/>
                <text-input
                        class="client-dialog__input"
                        formControlName="email"
                        [label]="'clients.email' | translate"/>
                <text-input
                        class="client-dialog__input"
                        formControlName="phone"
                        [mask]="phoneMask"
                        [label]="'clients.phone' | translate"/>
            </form>
        </mat-dialog-content>

        <mat-dialog-actions class="client-dialog__actions">
            <button mat-button
                    mat-dialog-close
                    class="client-dialog__button_cancel">
                {{ 'button.cancel' | translate }}
            </button>
            <button mat-button
                    [disabled]="clientFormGroup.invalid"
                    (click)="onSaveButtonClick()"
                    class="client-dialog__button_save">
                {{ 'button.save' | translate }}
            </button>
        </mat-dialog-actions>
    </div>
</div>
