$background-primary: #e9f3ff;
$background-secondary: #FFF;
$background-tertiary: #E9F0FF;
$background-quaternary: #f4f7fd;
$background-quinary: #D7E1ED;

$color-text-1: #263238;
$color-text-2: #2F4C97;
$color-text-3: #231F20;
$color-text-4: #1A2124;
$color-text-5: #2F7FD5;

$header-height: 75px;
