<div class="client-dialog">
    <div class="client-dialog__container">

        <h2 mat-dialog-title class="client-dialog__title">
            {{ data.title }}
        </h2>

        <mat-dialog-content class="client-dialog__content">
            <span> {{ 'clients.delete_content' | translate }}</span>
            <span> ({{ data.clients.length }}) ? </span>
        </mat-dialog-content>

        <mat-dialog-actions class="client-dialog__actions">
            <button mat-button
                    mat-dialog-close
                    class="client-dialog__button_cancel">
                {{ 'button.cancel' | translate }}
            </button>
            <button mat-button
                    (click)="onDeleteButtonClick()"
                    class="client-dialog__button_delete">
                {{ 'button.delete' | translate }}
            </button>
        </mat-dialog-actions>

    </div>
</div>
