$color-checkbox: (
        color-default: #A8B0BF,
        color-hover: #304879,
        color-active: #4A95F7
);

@mixin checkbox-color {
  --mdc-checkbox-selected-icon-color: #{map-get($color-checkbox, color-active)};
  --mdc-checkbox-selected-focus-icon-color: #{map-get($color-checkbox, color-active)};
  --mdc-checkbox-selected-hover-icon-color: #{map-get($color-checkbox, color-active)};
  --mdc-checkbox-selected-pressed-icon-color: #{map-get($color-checkbox, color-active)};
  --mdc-checkbox-selected-focus-state-layer-color: none;
  --mdc-checkbox-selected-hover-state-layer-color: none;
  --mdc-checkbox-selected-pressed-state-layer-color: none;
  --mdc-checkbox-unselected-icon-color: #{map-get($color-checkbox, color-default)};
  --mdc-checkbox-unselected-focus-icon-color: #{map-get($color-checkbox, color-default)};
  --mdc-checkbox-unselected-hover-state-layer-color: none;
  --mdc-checkbox-unselected-pressed-state-layer-color: none;
  --mdc-checkbox-unselected-focus-state-layer-color: none;
  --mdc-checkbox-unselected-hover-icon-color: #{map-get($color-checkbox, color-hover)};
  --mdc-checkbox-unselected-pressed-icon-color: none;
}