@use "variables";

@mixin custom-scrollbar {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: variables.$background-secondary;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: variables.$background-quinary;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: variables.$background-secondary;
  }
}